<!-- Temporarily using SidebarCtrl because links are there -->
<h1 class="title" ng-controller="SidebarCtrl">
    <span style="padding: 5%">Home</span>
    <!-- <span style="padding: 5%"><a ui-sref="assignments.assignments" style="color:white">Assignments</a></span>
    <span style="padding: 5%"><a ui-sref="grades.grades" class="button" style="color:white">Grades</a></span> -->
</h1>

<div id="todo-block"> <!-- class="card" -->
    <h2>To-Do</h2>
    <h3>Your Assignments</h3>
    <div ng-controller="AssignmentsCtrl">
        <ul style="text-align: left">
            <li class="card" ng-repeat="assignment in todo">
                <p><a ui-sref="{{assignment.route}}" ng-click="enqueue(assignment)">{{assignment.title}}</a></p>
                <p><div class="pull-right">due {{assignment.dueDate}} at {{assignment.dueTime}}</div></p>
            </li>
        </ul>
    </div>
    
</div>

<div id="completed-block">
    <h2 class="title">Completed</h2>
    <h3>Your Assignments</h3>
    <div ng-controller="AssignmentsCtrl">
        <ul style="text-align: left">
            <li class="card" ng-repeat="assignment in completed">
                <p><a ui-sref="{{assignment.route}}" ng-click="enqueue(assignment)">{{assignment.title}}</a></p>
                <p><div class="pull-right">due {{assignment.dueDate}} at {{assignment.dueTime}}</div></p>
            </li>
        </ul>
    </div>
</div>

<!-- <div class="card">
    <h3 class="title">Grades</h3>
    <ul>
        <li ng-repeat="grade in grades"><a ui-sref="grades.detail({id: grade.id})">{{grade.title}}</a><div class="pull-right">{{grade.grade}}%</div></li>
    </ul>
</div>
<div class="card">
    <h3 class="title">Classes</h3>
    <ul>
        <li><a ui-sref="dashboard">PHYS 2211 M</a></li>
    </ul>
</div> -->
