.card {
  border: 1px solid $silver;
  background-color: $clouds;
  border-bottom: 2px solid $concrete;
  padding: $default-padding - 5px;
  margin-bottom: $default-padding;
  overflow: hidden;
  display: block;
  color: black;
  text-decoration: none;
  transition: 0.1s linear all;

  .title {
    margin-bottom: 10px;
  }

  /*&:hover {
    background-color: darken($clouds, 5);
  }*/

  .status {
    float: right;
  }
}

.card-inline {
    @extend .pull-left;
    @extend .card;
    margin-right: $default-padding;
    margin-bottom: $default-padding;
}

#todo-block {
  float: left;
  background: powderblue;
  border-radius: 20px;
  height: 700px;
  width: 40%; 
  padding: 5px; 
  margin: 2.5%;
}

#completed-block {
  float: right; 
  background: #8EF569; 
  border-radius: 20px; 
  height: 700px; 
  width: 40%; 
  padding: 5px; 
  margin: 2.5%;
}
